<!-- templates/blog_app/post_form.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">
                    {% if object %}
                        Update Post
                    {% else %}
                        Create New Post
                    {% endif %}
                </h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                        <a href="{% if object %}{% url 'post-detail' object.pk %}{% else %}{% url 'blog-home' %}{% endif %}" 
                           class="btn btn-secondary me-md-2">Cancel</a>
                        <button type="submit" class="btn btn-primary">
                            {% if object %}Update{% else %}Create{% endif %} Post
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}