<!-- templates/users/settings.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card border-0 shadow-sm overflow-hidden">
                <div class="card-header bg-white border-bottom py-3">
                    <h3 class="text-center mb-0 font-weight-light">Settings</h3>
                </div>
                <div class="list-group list-group-flush text-center font-weight-light">
                    <a href="{% url 'edit-profile' %}" class="list-group-item list-group-item-action py-3">Edit
                        Profile</a>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"
                            class="list-group-item list-group-item-action py-3 text-danger fw-bold w-100 border-0">Log
                            Out</button>
                    </form>
                    <a href="{% url 'profile' %}" class="list-group-item list-group-item-action py-3">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}